# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
DataSet_171115.RData
~$sp-500-eps-est.xlsx
RecessionModels.pkl
.RDataTmp
.ipynb_checkpoints/Recession Indicators-checkpoint.ipynb
KNN_recession.initiation.smooth.knn1.pdf
KNN_recession.initiation.smooth.knn10.pdf
KNN_recession.initiation.smooth.knn11.pdf
KNN_recession.initiation.smooth.knn12.pdf
KNN_recession.initiation.smooth.knn13.pdf
KNN_recession.initiation.smooth.knn14.pdf
KNN_recession.initiation.smooth.knn15.pdf
KNN_recession.initiation.smooth.knn2.pdf
KNN_recession.initiation.smooth.knn3.pdf
KNN_recession.initiation.smooth.knn4.pdf
KNN_recession.initiation.smooth.knn5.pdf
KNN_recession.initiation.smooth.knn6.pdf
KNN_recession.initiation.smooth.knn7.pdf
KNN_recession.initiation.smooth.knn8.pdf
KNN_recession.initiation.smooth.knn9.pdf
NN_recession.initiation.smooth.nn9_Weight.pdf
NN_recession.initiation.smooth.nn9.pdf
NN_recession.initiation.smooth.nn8_Weight.pdf
NN_recession.initiation.smooth.nn8.pdf
NN_recession.initiation.smooth.nn7_Weight.pdf
NN_recession.initiation.smooth.nn7.pdf
NN_recession.initiation.smooth.nn6_Weight.pdf
NN_recession.initiation.smooth.nn6.pdf
NN_recession.initiation.smooth.nn5_Weight.pdf
NN_recession.initiation.smooth.nn5.pdf
NN_recession.initiation.smooth.nn4_Weight.pdf
NN_recession.initiation.smooth.nn4.pdf
NN_recession.initiation.smooth.nn3_Weight.pdf
NN_recession.initiation.smooth.nn3.pdf
NN_recession.initiation.smooth.nn2_Weight.pdf
NN_recession.initiation.smooth.nn2.pdf
NN_recession.initiation.smooth.nn1_Weight.pdf
NN_recession.initiation.smooth.nn15_Weight.pdf
NN_recession.initiation.smooth.nn15.pdf
NN_recession.initiation.smooth.nn14_Weight.pdf
NN_recession.initiation.smooth.nn14.pdf
NN_recession.initiation.smooth.nn13_Weight.pdf
NN_recession.initiation.smooth.nn13.pdf
NN_recession.initiation.smooth.nn12_Weight.pdf
NN_recession.initiation.smooth.nn12.pdf
NN_recession.initiation.smooth.nn11_Weight.pdf
NN_recession.initiation.smooth.nn11.pdf
NN_recession.initiation.smooth.nn10_Weight.pdf
NN_recession.initiation.smooth.nn10.pdf
NN_recession.initiation.smooth.nn1.pdf
LM_recession.initiation.smooth.lm9_Weight.pdf
LM_recession.initiation.smooth.lm9.pdf
LM_recession.initiation.smooth.lm8_Weight.pdf
LM_recession.initiation.smooth.lm8.pdf
LM_recession.initiation.smooth.lm7_Weight.pdf
LM_recession.initiation.smooth.lm7.pdf
LM_recession.initiation.smooth.lm6_Weight.pdf
LM_recession.initiation.smooth.lm6.pdf
LM_recession.initiation.smooth.lm5_Weight.pdf
LM_recession.initiation.smooth.lm5.pdf
LM_recession.initiation.smooth.lm4_Weight.pdf
LM_recession.initiation.smooth.lm4.pdf
LM_recession.initiation.smooth.lm3_Weight.pdf
LM_recession.initiation.smooth.lm3.pdf
LM_recession.initiation.smooth.lm2_Weight.pdf
LM_recession.initiation.smooth.lm2.pdf
LM_recession.initiation.smooth.lm1_Weight.pdf
LM_recession.initiation.smooth.lm15_Weight.pdf
LM_recession.initiation.smooth.lm15.pdf
LM_recession.initiation.smooth.lm14_Weight.pdf
LM_recession.initiation.smooth.lm14.pdf
LM_recession.initiation.smooth.lm13_Weight.pdf
LM_recession.initiation.smooth.lm13.pdf
LM_recession.initiation.smooth.lm12_Weight.pdf
LM_recession.initiation.smooth.lm12.pdf
LM_recession.initiation.smooth.lm11_Weight.pdf
LM_recession.initiation.smooth.lm11.pdf
LM_recession.initiation.smooth.lm10_Weight.pdf
LM_recession.initiation.smooth.lm10.pdf
LM_recession.initiation.smooth.lm1.pdf
Fed_Model.pdf
Smooth_Model.pdf
